doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
        function ajaxPost(url, data){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                    console.log(json);
                }
            };
            var body = JSON.stringify(data);
            xhr.send(body);

        }
      function bulkUpdateImage(){ 
          console.log(document.getElementsByClassName('product').length);
          var data = [];
          for(var i=0; i<document.getElementsByClassName('product').length;i++)
          {
            data.push({
                id: document.getElementsByClassName('product')[i].getAttribute('data-id'),
                images: [
                    { 
                        src: `https://s3.ap-south-1.amazonaws.com/imfpa.org/paintings/${document.getElementsByClassName('product')[i].getAttribute('data-sku')}_800.jpg`
                    }
                ]
            })
            //console.log(document.getElementsByClassName('product')[i].getAttribute('data-id'))
          }
          console.log(data);
          ajaxPost('/update-painting-image', data)
          
        }
  body
    h1 List of paintings with no featured image
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        The System loops from start of painting list with #{per_page} painting per page. 
        You are current in page #{page}. Click on Next Page to go to the next page and Previous Page to go previous Page. 
        Click on Update Bulk Image with update paintings with images. Make sure you have upload the painting images in AWS S3.
    p Page #{page} with #{per_page} painting per page.
    button(onclick='bulkUpdateImage()') Update Bulk Images
    - var previous = parseInt(page)==1 ? parseInt(page) : parseInt(page)-1
    - var next = parseInt(page)+1
    - var limit = parseInt(per_page)
    p There are 
        span( class="noOfPainting") 0 
        |  paintings without images.
    p
        if(parseInt(page) > 1) 
            a(href='/update-painting-image?page='+previous+'&limit='+limit) Previous Page
        | 
        a(href='/update-painting-image?page='+next+'&limit='+limit) Next Page
    ol
        each val in data.data
            if(val.images.length == 0)
                li
                   a(href=val.permalink class='product' data-sku=val.sku data-id=val.id ) ID #{val.id} - #{val.sku} - #{val.name}
                ul
                    each image in val.images
                        li= image.src

    script(type='text/javascript').
        document.getElementsByClassName('noOfPainting')[0].innerText = document.getElementsByClassName('product').length + ' ';